<div class="footer_main__wrapper">
    <div class="container">
        <ul class="footer_main__links">
            <li class="main_navigation--items" ng-class="{ active: nav.isActive('/')}"><a href="/">Animals</a></li>
            <li class="main_navigation--items" ng-class="{ active: nav.isActive('/interviews')}"><a href="/interviews">Interviews</a></li>
            <li class="main_navigation--items" ng-class="{ active: nav.isActive('/about')}"><a href="/about">About</a></li>
        </ul>
        <p class="footer_main__copyright">2016 © All Rights Reserved</p>
    </div>
</div>
