.subhead {
	
	padding:50px 0;

	&-title {
		font-size:2.5em;
		font-weight:700;

		padding-bottom: 10px;
	}

	&-menu {

		border-bottom:1px solid #E9E9E9;
		padding: 20px 0;

		> a {
			
			font-size:1.1em;
			padding-bottom: 18px;
			margin-right:20px;

			&.active {
				border-bottom: 1px solid blue;
				color:blue;
			}
		}
	}
}

.animal-list {

	&-box {

		height:75px;
	
		&--items {
			padding:15px 20px;

			@include display(flex);
        	@include flex-direction(row);
        	@include align-items(center);

        	
        	&:nth-child(even) {
        		background:#EDEDED;
        	}

        	&:nth-child(odd) {
        		background:white;
        	}
		}

	}

	&-avatar {
		width:50px;
		height:50px;
		border-radius:200%;
	}

	&-info {

		display:inline-block;
		padding-left:20px;

		&--name, &--id {
			padding:3px 0;
		}

		&--name {
			font-size:1.3em;
			font-weight:700;
		}

		&--id {
			font-size:0.9em;
			color:gray;
		}
	}

	&-more {
		margin-left:auto;
	}

}

