.ac-button {
    background: #4D5CF9;
    border-radius: 1px;
    color: white;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    padding: 12px 15px;
}

.ac-label {

	font-size:1em;

	.search {

	}

	&.default {
		display:block;
		padding:25px 0;
	}
}