.create-animal-box {

	.container {
		background:white;
	}

	&-wrapper {
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		@include display(flex);
	}

	&-left {
		@include span(7 of 12);
		padding:60px;
		box-sizing: border-box
	}

	&-right {
		@include span(5 of 12 last);

		@include transition(background-image 0.5s ease-in-out);
		background-size:cover;
		background-position:50% 50%;
		overflow:hidden;

		img {
			display:block;
		}

		.portrait {
			img {
				width:100%;
			}
		}
	}
}

.drop-box {
    background: #F8F8F8;
	border: 1px dashed #DDD;
	height: 70px;
	padding-top: 25px;
	margin-bottom:30px;
	text-align: center;
	width: auto;

	&--subtitle {
		color: #9A9A9A;
		font-size: 0.7em;
		text-transform: uppercase;
		padding: 15px 0;
	}


	p {
		font-size:0.8em;
		color:#BABABA;
		padding:10px 0;
	}
}

.dragover {
    border: 1px dashed #5A43FA;
}