<header class="main">
    <div class="container">
        <nav>
            <div class="logo">
                <a href="index.html">The Paw Collective</a>
            </div>
            <ul class="main_navigation">
                <li class="main_navigation--items" ng-class="{ active: nav.isActive('/')}"><a href="#">Animals</a></li>
                <li class="main_navigation--items" ng-class="{ active: nav.isActive('/interviews')}"><a href="#">Interviews</a></li>
                <li class="main_navigation--items" ng-class="{ active: nav.isActive('/about')}"><a href="#">About</a></li>
            </ul>
        </nav>
    </div>
</header>
