.interview_main {

	padding:90px 0;

	&_owner {
		@include span(3 of 12);
		img {
			width:90%;
		}
	}
	&_article {
		@include span(6 of 12);

		&--title {
			font-size: 3em;
			letter-spacing:0.04em;
			padding: 0 0 20px 0;
			font-weight:600;
		}
		&--date {
			padding-bottom: 30px;
			font-size: 0.9em;
			color: rgb(138, 138, 138);
		}
		&--excerpt {
			font-size: 0.9em;
			line-height: 1.7em;
		}

		// question & answers
		&__qa {
			padding: 15px 50px 15px 0px;

			p {
				&:first-of-type {
					color:#A5A6AD;
					font-weight:bolder;
					text-transform:uppercase;
					padding:15px 0;
					line-height:1.5em;
				}
				&:last-of-type {
					font-size: 0.9em;
					line-height: 1.7em;
				}
			}
		}
	}
}