.interview_main {

	padding:120px 0 40px 0;

	// Responsive Breakpoint
	@include breakpoint(sm) {
		padding:30px 0;
	}

	&_hero {
		height: 600px;
		background: black;
		background-size:cover;
		background-position:50% 50%;

		// Responsive Breakpoint
		@include breakpoint(sm) {
			height:300px;
		}
	}

	&_article {

		width: 60%;
		margin: 0 auto;
		padding:30px 0;

		// Responsive Breakpoint
		@include breakpoint(sm) {
			width:100%;
		}

		&--title, &--date, &--excerpt {
			text-align:center;
		}

		&--title {
			font-size: 2em;
			letter-spacing:0.01em;
			padding: 10px 0 20px 0;
			font-weight:600;
			line-height:1.3em;
			// Responsive Breakpoint
			@include breakpoint(sm) {
				font-size:2em;
				padding: 15px 0;
			}
		}
		&--date {
			padding: 30px 0 0px 0;
			font-size: 0.9em;
			color: black;
		}
		&--excerpt {
			font-size: 1em;
			line-height: 1.7em;
			// Responsive Breakpoint
			@include breakpoint(sm) {
				font-size:1.2em;
			}
		}

		&--owner {
			text-align: center;
			padding: 40px 0;
		}

		// question & answers
		&__qa {
			padding: 15px 0;

			&---question {
				color:#0a0a0b;
				font-weight:bolder;
				padding:15px 0;
				line-height:1.5em;
			}

			&---answer {
				font-size: 0.9em;
				line-height: 1.7em;
			}

			&---question, &---answer {
				// Responsive Breakpoint
				@include breakpoint(sm) {
					font-size:1.2em;
				}
			}

			// Responsive Breakpoint
			@include breakpoint(sm) {
				padding:15px 0px;
			}
		}
	}
}