
.hero {
    height: 480px;
    background: black;
    background-image: url("../assets/images/hero_banner.jpg");
    background-size: cover;
    background-position: 50% 20%;
    position: relative;
    padding: 30px 0;

    // Responsive Breakpoints
    @include breakpoint(md){
        height:300px;
    }

    &_innerbox,
    &_title {
        position: absolute;
    }

    &_innerbox {
        height: 89%;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        border: 21px solid rgba(219, 220, 233, 0.22);
        background: rgba(226, 213, 206, 0.15);
        @include box-sizing(border-box);

        // Responsive Breakpoints
        @include breakpoint(md) {
            width:60%;
            height:84%;
        }
        @include breakpoint(sm) {
            width:80%;
        }
    }
    
    &_title {

        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column);

        height: 100%;
        width:100%;

        h1 {
            font-size: 3.6em;
            color: white;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.3em;

            // Responsive Breakpoints
            @include breakpoint(md) {
                font-size:2em;
            }

            @include breakpoint(sm) {
                font-size:1.5em;
            }
        }
        p {
            padding: 20px 0;
            color: white;
            font-size: 1em;
            letter-spacing: 0.2em;
            line-height: 1.9em;
            text-transform: uppercase;
            text-align:center;
        }
    }
}
