// _core.scss

body {
    font-family: $font-stack-mark;
    background: #F7F7F7;
}

.container {
    @include container();
}

a {
    text-decoration: none;
    color: inherit;
}

select {
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    padding: 13px 5px;
    font-size: 0.9em;
    letter-spacing: 0.07em;
}

input.ng-untouched {
    background:none;
}

input.ng-valid-required.ng-valid-parse, 
input.ng-invalid.ng-valid-parse  {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}


input.ng-valid-required.ng-valid-parse {
    border-bottom: 1px solid rgba(0, 140, 0, 1);
}

input.ng-invalid.ng-valid-parse {
    border-bottom: 1px solid rgba(255, 0, 0, 0.14);
}
